* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}

nav {
    width: 100%;
    height: 55px;
    background-color: black;
    padding-bottom: 1px;
}


.logo {
    width: 119px;
    position: absolute;
    top: 6px;
    margin-left: 10px;
    transition: 0.5s;
}

.logo:hover {
    background-color: dimgrey;
}

.plvardas {
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-left: 140px;
    display: inline-block;
    position: relative;
    bottom: 35px;
}

ul {
    width: 100%;
    text-align: right;
    height: 50px;
}

li {
    display: inline-block;
    height: 60px;
    width: 150px;
}

li > a, .dropbtn {
    color: white;
    text-align: center;
    padding: 10px 10px;
    height: 55px;
    padding-top: 17px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    transition: 0.3s;
    text-transform: uppercase;
}

a {
    transition: 0.3s;
}

li > a:hover, a.active {
    background-color: dimgrey;
}

.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    transition: 0.3s;
    display: inline-block;
    height: 50px;
    width: 150px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content > a {
    font-size: 15px;
    text-transform: uppercase;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: dimgrey;
}

.apie > img
{
    width: 300px;
    border-radius: 20px;
    margin-left: 150px;
    margin-top: 150px;
}

.apie > h1
{   outline: 2px solid black;
    font-size: 50px;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    border-bottom: 2px solid black;
    text-transform: uppercase;
}
